<div class="col-md-15">
  <div class="card">
    <div class="card-header">
      <strong>
        <div class="box-header with-border">
          <h3 class="box-title"> Ajouter un nouveau groupe </h3>
        </div>
      </strong>
    </div>






    <div class="card-body">
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input"><b>Nom du groupe</b></label>
            <div class="col-md-9">
              <input type="text" id="text-input" name="text-input" class="form-control">
            </div>
          </div>




        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1"><b> Banque </b></label>
          <div class="col-md-9">
            <select id="select1" name="select1" class="form-control">
              <option value="0">ATB</option>
              <option>BqCodetst</option>
              <option value="1">ETHMAR</option>
              <option value="2">GrpGrp</option>
              <option value="3">SATIM</option>
            </select>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1"><b>App List</b></label>
          <div class="col-md-9">
            <select id="select1" name="select1" class="form-control">
              <option value="0">CIBPay</option>
              <option>MasterCard</option>
              <option value="1">les deux</option>
            </select>
          </div>
        </div>

      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary">Ajouter</button>

    </div>
    <footer style="clear: both;position: absolute;z-index: 1;height: 3em;margin-top: 30%;">
        <p style="text-align: center!important;">© 2019 - TMS Portal 1.14.04</p>
    </footer>
  </div>
</div>







