<div class="content">
  <div class="row">
    <div class="col-md-12">
















      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> <i class="fa fa-table"></i> Liste des utilisateurs</h4>

        </div>





        <div class="card-body">
          <div class="table-responsive">




            <div class="form-group ">
              <form>
                Afficher
                <select>
                  <option>10</option>
                  <option>25</option>
                  <option>50</option>
                  <option>100</option>
                </select>
                éléments

                <div style="text-align: right">
                  Rechercher : <input type="text">


                </div>
              </form>
            </div>




            <table class="table">
              <thead class=" text-primary">

                <tr>
                  <th>

                    Nom du groupe

                  </th>
                  <th>

                    Date de l'application

                  </th>

                  <th>

                    Nom de l'application

                  </th>

                  <th>

                    Nembre de TPE

                  </th>




                  <th>

                    <i class="fa fa-unlock-alt"></i>

                  </th>


                </tr>
              </thead>
              <tbody>
















                <tr>


                  <div style="text-align: right">


                    aucune donné disponible dans le tableau
                  </div>
                </tr>










              </tbody>
            </table>




            <div class="form-group ">
              <form>
                Affichage de l'éléments 0 a 0 sur 0 élément

                <div style="text-align: right">
                  Rechercher


                </div>
              </form>
            </div>







          </div>
        </div>
      </div>

    </div>

  </div>

</div>


























































<div class="content">
  <div class="row">
    <div class="col-md-12">
















      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> ajouter une nouvelle application</h4>

        </div>





        <div class="card-body">
          <div class="table-responsive">





            <div class="col-md-15">
              <div class="card">







                <div class="card-body">
                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">






                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="text-input"><b>Nom de la version *</b></label>
                      <div class="col-md-9">
                        <input type="text" id="text-input" name="text-input" class="form-control">
                      </div>
                    </div>



                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="select1"><b>groupe *</b></label>
                      <div class="col-md-2">
                        <select id="select1" name="select1" class="form-control">
                          <option value="0">Non choisi</option>
                          <option>admin Bank</option>
                          <option value="1">prestataire</option>
                        </select>
                      </div>
                    </div>





                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="text-input"><b>Nom de l'application TMS *</b></label>
                      <div class="col-md-9">
                        <input type="text" id="text-input" name="text-input" class="form-control">
                      </div>
                    </div>










                  </form>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-sm btn-primary"> Ajouter</button>

                </div>
              </div>








              






            </div>
          </div>
        </div>

      </div>

    </div>

  </div>