<div class="content">
  <div class="row">
    <div class="col-md-12">
















      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Génération <small>De rapports</small></h4>

        </div>





        <div class="card-body">
          <div class="table-responsive">

            <h4> <i class="fa fa-check-square-o"></i> Sélection : </h4>
            <form>
              <div class=" col-md-3 control-label" style="padding-left: 20px;margin-left: -9px; ">
                <i class="fa fa-calendar-minus-o"></i> &nbsp;&nbsp;
                <b>Date et heure début dernière connexion :</b>
              </div>

              <div class=" col-md-2">

                <input autocomplete="off" class="input-group date" id="txtdatepicker" name="DateDebut" type="text"
                  value="" >
              </div>



              


              <div class=" col-md-3 control-label" style="padding-left: 50px; "><i class="fa fa-calendar-plus-o"></i>&nbsp;&nbsp;  <b>Date fin dernière connexion :</b></div>








              

            </form>
















          </div>
        </div>
      </div>

    </div>

  </div>

</div>