<div class="content">
  <div class="row">
    <div class="col-md-12">

      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Liste des groupes</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">


            <div class="form-group ">
              <form>
                Afficher
                <select>
                  <option>10</option>
                  <option>25</option>
                  <option>50</option>
                  <option>100</option>
                </select>
                éléments

                <div style="text-align: right">
                  Rechercher : <input type="text">
                
                
                </div>
              </form>
            </div>





            <table class="table">
              <thead class=" text-primary">

                <tr>
                  <th>

                    Nom du groupe

                  </th>
                  <th>

                    Banque

                  </th>

                  <th>

                    Nombre de TPE

                  </th>

                  <th>

                    Fichier paramètres

                  </th>

                  <th>

                    Fichier liste noire

                  </th>
                  <th>

                    Version application

                  </th>

                  <th>

                    App List

                  </th>

                  <th>

                    <i class="fa fa-wrench"></i>

                  </th>
                  <th>

                    <i class="fa fa-unlock-alt"></i>

                  </th>


                </tr>
              </thead>
              <tbody>






                <tr>




                  <td>

                    Dakota Rice

                  </td>





                  <td>

                    Rice

                  </td>





                  <td>

                    Dakota Rice
                  </td>





                  <td>

                    test3

                  </td>

















                  <td>

                    50000

                  </td>





                  <td>

                    talel.jedda@esprit.tn

                  </td>





                  <td>

                    50790899

                  </td>







                  <td id="dd47151c-da05-40fc-a3a6-4c8a3124e8e5" class="Edit" style="color:red;cursor:pointer"><i
                      class="fa fa-wrench"></i></td>




                  <td id="dd47151c-da05-40fc-a3a6-4c8a3124e8e5" class="Delete" style="color:green;cursor:pointer"><i
                      class="fa fa-unlock"></i></td>




                </tr>





                <tr>




                  <td>

                    Sage

                  </td>





                  <td>

                    Rodriguez

                  </td>





                  <td>

                    Sage Rodriguez

                  </td>





                  <td>

                    test4

                  </td>





                  <td>

                    60000

                  </td>





                  <td>

                    mounabenarfi@gmail.com

                  </td>





                  <td>

                    89556321

                  </td>







                  <td id="dd47151c-da05-40fc-a3a6-4c8a3124e8e5" class="Edit" style="color:red;cursor:pointer"><i
                      class="fa fa-wrench"></i></td>



                  <td id="dd47151c-da05-40fc-a3a6-4c8a3124e8e5" class="Delete" style="color:green;cursor:pointer"><i
                      class="fa fa-unlock"></i></td>



                </tr>





                <tr>




                  <td>

                    Doris Greene

                  </td>





                  <td>

                    Malawi

                  </td>





                  <td>

                    Feldkirchen in Kärnten

                  </td>





                  <td>

                    test5

                  </td>

















                  <td>

                    Mason Porter

                  </td>





                  <td>

                    mohamedamine.njah@esprit.tn

                  </td>











                  <td>

                    99678615

                  </td>
                  <td id="dd47151c-da05-40fc-a3a6-4c8a3124e8e5" data-toggle="modal" data-target="#mmodifier"
                    class="Edit" style="color:red;cursor:pointer"><i class="fa fa-wrench">
                    </i></td>

                  <td id="dd47151c-da05-40fc-a3a6-4c8a3124e8e5" class="Delete" style="color:green;cursor:pointer"><i
                      class="fa fa-unlock"></i></td>



                </tr>










              </tbody>

            </table>






            <br>
            <a href="/#/home/nouvgroup" class="btn btn-default">Ajouter un nouveau groupe</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>



<footer style="clear: both;position: absolute;z-index: 1;height: 3em;margin-top: 30%;">
    <p style="text-align: center!important;">© 2019 - TMS Portal 1.14.04</p>
</footer>
