
 <div class="col-md-15">
  <div class="card">
    
    <div class="card-body">
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">


        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1">Gérer les droits des utilisateurs</label>
          <div class="col-md-3">
            <select id="select1" name="select1" class="form-control">
              <option value="0"></option>
              <option>BqCodetst</option>
              <option value="1">Prestataire-service</option>
             
            </select>
          </div>
        </div>
       </form>
     </div>









     

     <footer style="clear: both;position: absolute;z-index: 1;height: 3em;margin-top: 30%;">
      <p style="text-align: center!important;">© 2019 - TMS Portal 1.14.04</p>
  </footer>